<footer>
    <h3>Pillai College of Engineering</h3>
    <div class="authors">
        <div class="author">
            <div class="name">
                NAIKDHURE NEHA RAJENDRA
            </div>
            <div class="roll_no">
                CS7A45
            </div>
        </div>
        <div class="author">
            <div class="name">
                RAWAT NISHA PRADEEPSINGH
            </div>
            <div class="roll_no">
                CS7A62
            </div>
        </div>
        <div class="author">
            <div class="name">
                INGALE MAYUR TATYASO
            </div>
            <div class="roll_no">
                CS7A26
            </div>
        </div>
        <div class="author">
            <div class="name">
                SHIVKUMAR G. CHAUHAN
            </div>
            <div class="roll_no">
                CS7A17
            </div>
        </div>
    </div>
</footer>